[alias]
	h = log --pretty=format:'%Cgreen%h %Creset| %s%d %Cblue[%an]' --graph --date=short
	s = status
	ch = checkout
	p = push
	pa = push --all
	c = commit -m
	ca = commit -a -m
	a = add .
	d = diff
[user]
	name = rapkin
	email = mikola.parfenyuck@gmail.com
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[push]
	default = simple
[core]
	editor = code -n -w
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
