/*/
/*

!.gitignore
!.bash_profile
!.bashrc
!.zsh/
!.zshrc
!.aliases
!.gitconfig
!Sublime/
!templates/

Sublime/User/Package Control.cache/*
Sublime/User/Package Control.last-run
Sublime/Theme - Soda/.DS_Store
Sublime/User/Package Control.merged-ca-bundle
Sublime/User/Package Control.system-ca-bundle

*.db
