/*/
/*

!.gitignore
!.bash_profile
!.bashrc
!.zsh/
!.bin/
!.zshrc
!.aliases
!.gitconfig
!Sublime/
!templates/

Sublime/User/Package Control.cache/*
Sublime/User/Package Control.last-run
Sublime/Theme - Soda/.DS_Store
Sublime/User/*
!Sublime/User/*.sublime-settings

*.db
