/*/
/*

!/.gitignore
!/.bash_profile
!/.bashrc
!/.bin/
!/.zshrc
!/.aliases
!/.gitconfig

!/.oh-my-zsh/
/.oh-my-zsh/*
!/.oh-my-zsh/themes/
/.oh-my-zsh/themes/*
!/.oh-my-zsh/themes/rapkin.zsh-theme

!/Sublime/
/Sublime/Package Control.cache/
/Sublime/Package Control.last-run
/Sublime/Color Highlighter/
!/README.md

*.db
.DS_Store
*.crt
*.merged-ca-bundle
*.user-ca-bundle
